<div class="col-md-3">
    <a href="/admin/banner"><button class="btn btn-success mt-2">Banner Mangement</button></a>
    <a href="/admin/query"><button class="btn btn-success mt-2">Query Mangement</button></a>
    <a href="/admin/service"><button class="btn btn-success mt-2">Service Mangement</button></a>
    <a href="/admin/testi"><button class="btn btn-success mt-2">Testinominal Mangement</button></a>
    <a href="/admin/reg"><button class="btn btn-success mt-2">User's Mangement</button></a>
    <a href="/admin/parking"><button class="btn btn-success mt-2 mb-2">Parking Mangement</button></a>
  

</div>